<!--  see more details  about the spot-->
{% extends "base.html"%}

{% block title %}Spot Details  {% endblock%}

{% block additional_css %} <link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}"> {% endblock %}

{% block content %}
<html>
<head>
    <title>Spot Details</title>
    <script>
        (function(d) {
          var config = {
            kitId: 'deu1feo',
            scriptTimeout: 3000,
            async: true
          },
          h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
      </script>
</head>
<body>
    <div class="postcard">
    <div class="details-div">
    <h1>{{ spot.name }}</h1>
    <p>Added By: {{user_name}}</p>
    <p>Address: {{ spot.approx_adress }}</p>
    <p>Notes: {{ spot.notes }}</p>
    
    {% if audio_data %}
    <audio controls>
        <source src="data:audio/mpeg;base64,{{ audio_data|b64encode }}" type="audio/mpeg">
    </audio>
    {% endif %}
    </div>

    <div class="image-div">
    {% if image_data %}
        <img src="data:image/jpeg;base64,{{ image_data|b64encode }}" alt="Spot Image" class="image">
    {% endif %}
    </div>
    <!-- ... other details you want to display -->
    </div>
</body>

<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap" async defer></script>

</html>

{% endblock %}
